@import "/styles/app.scss";
@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.goals{
    background-color: $color-primary;
    margin-top: 10vh;
    text-align: center;
    position: sticky;
    top: 0;

    .healthcare{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: sticky;
        top: 15%;
        z-index: 9;
    }
    .slanted{
        background-color: white;
        color: $color-primary;
        padding: 1rem 0.5rem;
        width: fit-content;
        transform: rotate(-2deg);
        border-radius: .5rem;
    }
    .center {
        margin: auto;
        width: 40vw;
        position: sticky;
        top: 50%;
        z-index: 99;
        height: 50vh;
    
        p {
            border: 1px solid gray;
            padding: 1rem 2rem;
            border-radius: 1rem;
            background-color: white;
            color: black;
            line-height: 1.5;
        }
    }
     

    .main{
        margin-top: 1rem;
        @extend .flexRow !optional;
        justify-content: space-between;
        align-items: center;
        height: 300vh;
        position: relative;
    }
    .imgContainer:nth-child(2){
        height: 400px;
        width: 300px;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        align-self: flex-start;
        position: sticky;
        top: 10%;
    }
    .imgContainer:nth-child(4){
        height: 500px;
        width: 400px;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        align-self: flex-end;
        position: sticky;
        left: 90%;
        top: 90%;
    }
}
.scroll{
    z-index :999;
    // height: 300vh;
}