@import "/styles/app.scss";
@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.contact{
    position: relative;
    text-align: center;
    padding-top: 20vh;
    .letter{
        display: inline-block;
        font-size: 200px;
        font-weight: 500;
        @include respond-to(medium){
            font-size: 32px;
        }
    }

    .glassyDiv{
        cursor: pointer;
        width: fit-content;
        margin: auto;
        padding: 1rem 3rem;
        background-color: transparent;
        backdrop-filter: blur(15px);
        border-radius: 1rem;
        background-color: $color-primary;
        font-weight: bold;
        p{
            padding: .5rem 0;
        }

        @include respond-to(mobiles){
           position: relative;
           display: block;
           place-items: center;
           left: 0;
           width: fit-content;
           margin: auto;
           padding: 0 1rem;
           font-size: 14px;
        }
    }

    .contactUs{
        text-align: center;
        margin-top: 10vh;
        @extend .flexRow !optional;
        gap:1rem;
        height: 50vh;

        @include respond-to(mobiles){
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:1rem;
            height: fit-content;
        }
        div{
            border-radius: 1rem;
        }
        .left{
            width: 80%;
            height: 100%;
            @include respond-to(mobiles){
                height: auto;
                margin: auto;
            }

            .row1{
                width: 100%;
                @extend .flexRow !optional;
                gap:2%;
                height: 20%;
                @include respond-to(mobiles){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap:1rem;
                }
                div{
                    background-color: #D9D9D9;
                    width: 33%;
                    @include respond-to(mobiles){
                        width: 100%;
                    }
                }
            }
            .row2{
                margin-top: 1rem;
                height: 75%;
                background-color: #D9D9D9;
                width: 100%;
            }
            .row1,.row2{
                @include respond-to(mobiles){
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                }
            }
        }
        .right{
            width: 20%;
            height: 100%;
            background-color: $color-primary;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: gray;
            .content{
                p{
                    padding-top: 2rem;
                }
            }
            @include respond-to(mobiles){
               width: 80%;
               margin: auto;
               padding: 1rem 0;
            }
        }
        textarea,input{
            width: 100%;
            height: 100%;
            background-color: inherit;
            outline: none;
            border: none;
            border-radius: inherit;
            box-sizing: border-box;
            padding: 2rem 1rem;
            font-size: 21px;
            &::placeholder{
                color: black;
            }
        }
    }
}