@import "/styles/app.scss";

.main{
    height: 100vh;
    .content{
        padding-top: 10vh;
        @extend .flexCol !optional;
        align-items: center;
        text-align: center;
        p{
            padding-top: 1rem;
            line-height: 1.5;
        }
        .donateBtn{
            margin-top: 2rem;
            @extend .iconBtn !optional;
            width: fit-content;
        }
    }
}