@import "/styles/app.scss";

.main{
    height: fit-content;

    .content{
        padding-top: 20vh;
        @extend .flexCol !optional;
        align-items: center;
        text-align: center;

        @include respond-to(mobiles){
            padding: 0;
            justify-content: center;
            min-height: 90vh;
        }
        p{
            padding-top: 1rem;
            line-height: 1.5;
            @include respond-to(mobiles){
               padding-top: 2rem;
            }
        }
        .donateBtn{
            margin-top: 2rem;
            @extend .iconBtn !optional;
            width: fit-content;
        }
    }

    .imagesDiv{
        min-height: 60vh;
        @extend .flexRow !optional;
        justify-content: space-between;
        @include respond-to(mobiles){
            min-height: 30vh;
            gap:2vw;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: auto auto;
            margin-top: 1rem;
        }

        .mainImgDiv{
            height: 60vh;
            width: 20%;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: flex-end;

            @include respond-to(mobiles){
                height: auto;
                width: 100%;
                border-radius: 1px;
            }

            .svgStyles2{
                height:80%;
                position: relative;
                .smile{
                    position: absolute;
                    right: 0;
                    top: 10%;
                }
            }

            .svgStyles{
                height: 80%;
                position: relative;
                .leftShine{
                    position: absolute;
                    top: -25px;
                    left: -25px;
                }
                .star{
                    position: absolute;
                    right: -30px;
                    top: 5%;
                    z-index: 9;
                    @include respond-to(mobiles){
                        height: 22px;
                        width: 22px;
                        right: -10px;
                    }
                }
            }
            .greenDiv{
                background-color: $color-light-green;
                border-radius: 1rem;
                @extend .imgContainer !optional;
                @include respond-to(mobiles){
                    border-radius: 1rem !important;
                }
            }

            .innercontent{
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                p{
                    padding: 0 1rem;
                    align-self: flex-end;
                    @include respond-to(mobiles){
                        padding: 1rem .5rem;
                    }
                }
                font-weight: 500;
                line-height: 1.5;
                align-self: flex-end;
                @include respond-to(mobiles){
                    font-size: 14px;
                }
            }

            .img1{
                @extend .greenDiv !optional;
                height: 100%;
            }
            .img2{
                @extend .greenDiv !optional;
                height: 30%;
                width:100%;
            }
            .img3{
                @extend .greenDiv !optional;
                height: 60%;
                @extend .flexCol !optional;
                @extend .innercontent !optional;
                h3{
                    padding-bottom: .5rem;
                }
            }
            .img4{
                @extend .greenDiv !optional;
                height: 100%;
                display: flex;
                justify-content: center;
                img{
                    height: 70%;
                    width: 80%;
                    object-fit: contain;
                }
            }
            &:nth-child(1){
                align-self: flex-end;
                @include respond-to(mobiles){
                    grid-column-start: 1/2;
                    grid-row-start: 1;
                }
            }
            &:nth-child(2){
                align-self: flex-end;
                @include respond-to(mobiles){
                    align-self: center;
                }
            }
            &:nth-child(3){
                align-self: center;
            }
            &:nth-child(4){
                align-self: flex-start;
                @include respond-to(mobiles){
                    align-self: center;
                }
            }

        }
        .grayContainer{
            background-color: $color-gray;
            height: 52px;
            width: 100%;
            border-radius: 3rem;
            @include respond-to(mobiles){
                height: 30px;
                padding: .4rem 0;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
        }
    }
}