html,
body {
  max-width: 100vw;
  background-color: white;
  color: black;
  font-family: var(--font-inter);
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

body {
  cursor: none; 
}

@media (max-width: 768px) {
  body {
    cursor: auto; /* Show the cursor on mobile */
  }
}
