@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.page{
    section{
        min-height: 100vh;
        margin: 0 5vw 20vh 5vw;
        @include respond-to(mobiles){
            margin: 0 1rem 20vh 1rem;
        }
    }
}

.custom{
    position: fixed;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    background: $color-primary;
    border: 1px solid $color-primary; 
    backdrop-filter: blur(2px); 
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    transition: all 0.1s ease; 
    z-index: 9999;
    // @include respond-to(mobiles){
    //     display: none;
    // }
  }
