@import "/styles/app.scss";
@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.footer{
    background-color:#D1F39D;
    border-radius: 3rem;
    padding: 3rem;
    margin: 0 10vw 1rem 10vw;
    @extend .flexRow !optional;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @include respond-to(medium){
        display: flex;
        flex-direction: column;
        margin: 0 5vw;
        padding: 1rem .5rem;
        border-radius: 1rem
    }

    .item{
        @extend .flexCol !optional; 
        gap: 2rem;
    }
    .logo{
        display: inline-flex;
        gap: 1rem;
    }
    .itemsWrapper{
        @extend .flexRow !optional;
        gap:1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contact{
        @extend .flexRow !optional; 
        gap: 2rem;
        @include respond-to(medium){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: .5rem;
            margin: auto;
        }
        p{
            position: relative;
            padding-right: 1rem;
            border-right:3px solid #FF17DA;
            display: flex;
            align-items: center;
            @include respond-to(medium){
                border-bottom:1px solid #FF17DA;
                border-right: none;
            }
        }
    }
    .item:nth-child(1){
        width: 30%;
        @include respond-to(medium){
            width: 90%;
        }
    }
    .contactUs{
        float: right;
        @extend .iconBtn !optional;
    }
}