@import "./mixins.scss";
@import "./variables.scss";
@import "./mixins.scss";

.flexRow{
    display: flex;
    flex-direction: row;
}
.flexCol{
    display: flex;
    flex-direction: column;
}
.heading{
    font-size: 48px;
    font-weight: 700;
    @include respond-to(mobiles){
        font-size: 32px;
    }
}
.subHeading{
    font-size: 36px;
    font-weight: 700;
}
.svgContainer{
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    @extend .flexCol !optional;
    align-items: center;
    justify-content: center;
}
.imgContainer{
    overflow: hidden;
    background-color: gray;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.iconBtn{
    background-color: $color-primary;
    padding: .5rem 1rem;
    border-radius: 3rem;
    cursor: pointer;
    @extend .flexRow !optional;
    align-items: center;
    gap: 1rem;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease-in;
    &:hover{
        background-color: $color-hover;
    }
}